<mat-dialog-content class="dialog-content">
  <form [formGroup]="responsableForm" (ngSubmit)="submitForm()">

    <mat-form-field appearance="outline" class="responsable-dialog-field">
      <mat-label>Nom du responsable</mat-label>
      <input matInput placeholder="Ex. Jean Dupont" formControlName="nom" autocomplete="off">
    </mat-form-field>

    <div class="d-flex" style="justify-content: space-around">
      <button mat-raised-button color="primary">Ajouter</button>
    </div>
  </form>
</mat-dialog-content>
