<mat-dialog-content class="dialog-content">
  <form [formGroup]="statutForm" (ngSubmit)="submitForm()">

    <mat-form-field appearance="outline" class="statut-dialog-field">
      <mat-label>Nom du statut</mat-label>
      <input matInput placeholder="Ex. En cours" formControlName="nom" autocomplete="off">
    </mat-form-field>

    <div class="d-flex" style="justify-content: space-around">
      <button mat-raised-button color="primary">Ajouter</button>
    </div>
  </form>
</mat-dialog-content>
