
mat-icon {
  font-size: 1.5rem;
}
.delete-icon {
  height: 2.5rem !important;
  width: 2.5rem !important;
  background-color: #d70101;
}
.edit-icon {
  height: 2.5rem !important;
  width: 2.5rem !important;
  background-color: rgba(0, 156, 244, 0.87);
}
.confirm-icon {
  height: 2.5rem !important;
  width: 2.5rem !important;
  background-color: rgb(36, 197, 0);
}
.title {
  font-size: 2rem;
  text-align: center;
  color: #009CF4;
  padding-bottom: 4rem;
}
